
<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Bootstrap CSS -->
        <link href="stylesheets/style.css" rel="stylesheet" type="text/css">

        <title></title>
    </head>
  
    <body>
      <header>
        <h1><%=title%> </h1> 

      </header>        
        <nav>
          <a href="">Home</a>
          <a href="game">Games</a>
          <a href="https://www.esrb.org/">Ratings</a>
          <a href="customer/add">Sign Up</a>
          <a href="customer/get">Sign In</a> 
          <a href="order">Cart</a>
        </nav>
  <main>
   <h2>Welcome!</h2>
  </main>
</body>
</html>