<!doctype html>
<html lang="en">
  <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="stylesheets/style.css" rel="stylesheet" type="text/css">

      <title></title>
  </head>
  <body>
      <header>
      </header>
      <nav>
          <a href="">Home</a>
          <a href="game">Games</a>  <!-- note href points to game.ejs -->
          <a href="https://www.esrb.org/">Ratings</a>
          <a>Sign Up</a>
          <a>Sign In</a> 
          <a>Cart</a>
        </nav>
        <main>
            <h1><%= title %></h1>

        </main>
    </body>
</html>

